@charset "utf-8";

/* 全局样式 */

*, *::before, *::after {
    box-sizing: border-box;
    outline: 0;
}

html.kui {
	background: #fff;
}

html.kui body, body.kui {
	margin: 0;
}

/* kui针对默认HTML元素的基础样式 */

.kui {
    line-height: 24px;
    color: #33475b;
    font-family: "Avenir Next W02",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #fff;
}

.kui h1 {
	margin: 0;
	line-height: normal;
	font-family: "Avenir Next W02",Helvetica,Arial,sans-serif;
	font-size: 28px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-shadow: 0 0 1px transparent;
    text-transform: none;
}

.kui ul, .kui li {
	padding: 0;
}

.kui a {
	color: #0091ae;
	font-family: "Avenir Next W02",Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-smoothing: antialiased;
    text-decoration: none;
    text-shadow: 0 0 1px transparent;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
	background-color: transparent;
	transition: all 150ms ease-out;
}

.kui a:hover {
	color: #007a8c;
    text-decoration: underline;
}

.kui a:active {
	color: #7fd1de;
}

.kui a:active, a:hover {
	outline: 0;
}

.kui button {
	display: inline-block;
	overflow: hidden;
	margin: 0;
	padding: 12px 24px;
	max-width: 100%;
	line-height: 14px;
	border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    font-smoothing: auto;
    text-shadow: 0 0 1px transparent;
    font-family: "Avenir Next W02",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    transition: all 150ms ease-out;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
}

.kui button.primary {
    border-color: #ff7a59;
    color: #ffffff;
    background-color: #ff7a59;
}

.kui button.primary:hover {
    border-color: #ff8f73;
    color: #ffffff;
    background-color: #ff8f73;
}

.kui button.primary:active {
    border-color: #e66e50;
    color: #ffffff;
    background-color: #e66e50;
}

.kui button.secondary {
    border-color: #ff7a59;
    color: #ff7a53;
    background-color: #ffffff;
}

.kui button.secondary:hover {
    color: #ff7a53;
    background-color: #fff8f6;
}

.kui button.secondary:active {
    color: #ff7a53;
    background-color: #ffebe6;
}

.kui button.tertiary {
    border-color: #425b76;
    color: #ffffff;
    background-color: #425b76;
}

.kui button.tertiary:hover {
    border-color: #516f90;
    color: #ffffff;
    background-color: #516f90;
}

.kui button.tertiary:active {
    border-color: #33475b;
    color: #ffffff;
    background-color: #33475b;
}

.kui button.danger {
    border-color: #f2545b;
    color: #ffffff;
    background-color: #f2545b;
}

.kui button.danger:hover {
    border-color: #ff5962;
    color: #ffffff;
    background-color: #ff5962;
}

.kui button.danger:active {
    border-color: #d94c53;
    color: #ffffff;
    background-color: #d94c53;
}

.kui button.light {
    border-color: #cbd6e2;
    color: #506e91;
    background-color: #eaf0f6;
}

.kui button.light:hover {
    color: #506e91;
    background-color: #f5f8fa;
}

.kui button.light:active {
    border-color: #7c98b6;
    color: #506e91;
    background-color: #cbd6e2;
}

.kui button.disabled {
    border-color: #eaf0f6 !important;
    color: #b0c1d4 !important;
    background-color: #eaf0f6 !important;
    box-shadow: none !important;
    cursor: not-allowed;
}

.kui label.checkbox {
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    font-size: 16px;
    align-items: center;
	-webkit-align-items: center;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    transition: all 150ms ease-out;
}

.kui label.checkbox>span:nth-child(1) {
    display: flex;
	display: -ms-flexbox;
    display: -webkit-flex;
    align-items: flex-start;
	-webkit-align-items: flex-start;
}

.kui label.checkbox>span:nth-child(1)>span:nth-child(1) {
	position: relative;
	left: 1px;
	flex-shrink: 0;
	-webkit-flex-shrink: 0;
	border: 2px solid #cbd6e2;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    color: #cbd6e2;
    background-color: #ffffff;
    transition: all 150ms ease-out;
}

.kui label.checkbox>span:nth-child(1)>span:nth-child(1)>span:nth-child(1) {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
    left: 0;
	display: flex;
	display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
	align-items: center;
	-webkit-align-items: center;
    -webkit-justify-content: center;
    opacity: 0;
}

.kui label.checkbox>span:nth-child(1)>span:nth-child(1)>span:nth-child(1)>svg {
	overflow: hidden;
	width: 94%;
	fill: currentColor;
}

.kui label.checkbox>span:nth-child(1)>span:nth-child(1)>span:nth-child(1)>svg>path {
	width: 1em;
	fill: currentColor;
}

.kui label.checkbox:hover>span:nth-child(1)>span:nth-child(1) {
	background-color: #eaf0f6;
}

.kui label.checkbox.active>span:nth-child(1)>span:nth-child(1) {
	border-color: currentColor;
    color: #00a4bd;
}

.kui label.checkbox.active>span:nth-child(1)>span:nth-child(1)>span:nth-child(1) {
	opacity: 1;
}

/* kui扩展样式 */

.kui .fl {
	float: left;
}

.kui .fr {
	float: right;
}

/* 普通确认框样式 */

.kui-confirm {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1111;
	display: none;
	width: 100%;
	height: 100%;
}

.kui-confirm>div {
	padding: 60px 0;
	width: 100%;
	height: 100%;
	background-color: rgba(45,62,80,0.79);
}

.kui-confirm>div>div {
	margin: 0px auto;
	max-width: 450px;
	height: 100%;
}

.kui-confirm>div>div>div {
	position: relative;
	border-radius: 5px;
	background-color: #ffffff;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.kui-confirm>div>div>div.show {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.kui-confirm>div>div>div>section {
	padding: 24px 40px 1px 40px;
	font-size: 14px;
}

.kui-confirm>div>div>div>section>h2 {
	display: block;
    margin-bottom: 20px;
    margin-top: 0;
    line-height: normal;
    color: #33475b;
	font-family: "Avenir Next W02",Helvetica,Arial,sans-serif;
	font-size: 20px !important;
    font-weight: 700;
    text-transform: none;
    text-shadow: 0 0 1px transparent;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.kui-confirm>div>div>div>footer {
	display: block;
	border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
	padding: 24px 40px;
    color: #33475b;
	text-align: left !important;
	background-color: #ffffff;
}

.kui-confirm>div>div>div>footer>div {
	margin-left: 0px !important;
}

.kui-confirm>div>div>div>footer>div>button:nth-child(2) {
	margin-left: 12px;
}

/* 警告确认框样式 */

.kui-confirm-warn {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1111;
	display: none;
	width: 100%;
	height: 100%;
}

.kui-confirm-warn>div {
	padding: 60px 0;
	width: 100%;
	height: 100%;
	background-color: rgba(45,62,80,0.79);
}

.kui-confirm-warn>div>div {
	margin: 0px auto;
	max-width: 450px;
	height: 100%;
}

.kui-confirm-warn>div>div>div {
	position: relative;
	border-radius: 5px;
	color: #ffffff;
    background-image: repeating-linear-gradient(135deg, #f04b51, #f04b51 24px, #f2545b 24px, #f2545b 48px);
    background-image: -webkit-repeating-linear-gradient(135deg, #f04b51, #f04b51 24px, #f2545b 24px, #f2545b 48px);
    -webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.kui-confirm-warn>div>div>div.show {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.kui-confirm-warn>div>div>div>section {
	padding: 40px;
	font-size: 14px;
}

.kui-confirm-warn>div>div>div>section>h2 {
    display: block;
    margin-bottom: 20px;
    margin-top: 0;
    line-height: normal;
    color: #ffffff;
    font-family: "Avenir Next W02",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: none;
	text-shadow: 0 0 1px transparent;
	font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.kui-confirm-warn>div>div>div>footer {
	display: block;
	border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
	padding: 24px 40px;
    color: #33475b;
	text-align: left !important;
	background-color: #ffffff;
}

.kui-confirm-warn>div>div>div>footer>div {
	margin-left: 0px !important;
}

.kui-confirm-warn>div>div>div>footer>div>button:nth-child(2) {
	margin-left: 12px;
}

/* kui顶部导航样式 */

.kui-topnav {
	position: relative;
    width: 100%;
	height: 42px;
	line-height: 1;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: #2e2e2e;
}

.kui-topnav>div:nth-child(1) {
	height: 42px;
	background-color: #2e2e2e;
    box-shadow: 0 1px 0 #4d4d4d inset, 0 2px 3px rgba(0,0,0,0.25);
}

.kui-topnav>div:nth-child(1)>ul {
	display: inline-block;
	height: 42px;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
}

.kui-topnav>div:nth-child(1)>ul:nth-child(2) {
	float: right;
    text-align: right;
}

.kui-topnav>div:nth-child(1)>ul>li {
	display: inline-block;
	margin-right: 1px;
    height: 42px;
    font-size: 14px;
    vertical-align: middle;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.kui-topnav>div:nth-child(1)>ul>li>a {
	position: relative;
	z-index: 2;
	display: block;
	border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    padding: 0 13px;
    height: 42px;
    line-height: 42px;
    color: #bbb;
    font-weight: 500;
    text-decoration: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	cursor: pointer;
}

.kui-topnav>div:nth-child(1)>ul>li>a>img:nth-child(1) {
	position: relative;
    top: -2px;
	margin-right: 2px;
	width: 19.2px;
	height: 19.2px;
    vertical-align: middle;
}

.kui-topnav>div:nth-child(1)>ul>li>a>img:nth-child(1).logo {
	border-radius: 50%;
}

.kui-topnav>div:nth-child(1)>ul>li>a:hover {
	z-index: 6;
	margin: 0 -1px;
	border-left-color: #000;
    border-right-color: #000;
    padding: 0 14px;
	color: #f0f0f0;
    background-color: #1b1b1b;
}

.kui-topnav>div:nth-child(1)>ul>li>a.active {
	z-index: 6;
	margin: 0 -1px;
	border-left-color: #000;
    border-right-color: #000;
    padding: 0 14px;
	color: #f0f0f0;
    background-color: #1b1b1b;
}

.kui-topnav .dropdown-arrow {
	position: relative;
    top: -2px;
    right: -1px;
	display: inline-block;
	border-top: 5px solid #999;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
	width: 0px;
    height: 0px;
    opacity: 0.5;
}

.kui-topnav>div:nth-child(1)>ul>li>ul {
	position: absolute;
	top: 42px;
	z-index: 10000;
	display: none;
	margin-left: -1px;
	border-top: 1px solid rgba(255,255,255,0.04);
	padding: 8px;
	min-width: 117px;
    background: #2e2e2e;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

.kui-topnav>div:nth-child(1)>ul>li>ul>li {
	display: block;
}

.kui-topnav>div:nth-child(1)>ul>li>ul>li>a {
    display: inline-block;
    padding: 8px;
    width: 100%;
    color: #bbb;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.kui-topnav>div:nth-child(1)>ul>li>ul>li>a:hover {
	color: #ebebeb;
}

/* kui侧边导航栏 */

.kui-sidenav {
	display: block;
	margin: 0;
    list-style: none;
}

.kui-sidenav li a {
	display: flex;
	display: -ms-flexbox;
    display: -webkit-flex;
    padding: 12px;
    line-height: 16px;
    color: #33475b;
    font-family: Avenir Next W02,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    text-shadow: 0 0 1px transparent;
    font-smoothing: auto;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    transition: all .15s ease-out;
    cursor: pointer;
}

.kui-sidenav li a>span {
	display: flex;
	display: -ms-flexbox;
    display: -webkit-flex;
    flex-grow: 1;
    -webkit-flex-grow: 1;
	align-items: center;
	-webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.kui-sidenav li a>i {
	display: inline-block;
	margin: 0 4px 0 8px;
	color: #0091ae;
	font-weight: bold;
	vertical-align: baseline;
	transition: all .15s ease-out;
}

.kui-sidenav li a.open>i {
	transform: rotate(180deg);
}

.kui-sidenav li>a:hover {
	color: #33475b;
    text-decoration: none;
    cursor: pointer;
}

.kui-sidenav li>a:active {
	color: #7fd1de;
	text-decoration: none;
}

.kui-sidenav li.active>a {
	border-radius: 3px;
    color: #33475b;
    font-weight: 600;
    background-color: #eaf0f6;
}

.kui-sidenav li>ul {
	display: none;
	margin: 0 0 4px 0;
    list-style: none;
}

.kui-sidenav li>ul>li>a {
	font-size: 12px;
    padding: 8px 12px 8px 24px;
}

/* kui表格样式 */

.kui-table {
	border-color: #dfe3eb;
    border-style: solid;
    border-width: 0 1px 1px;
	border-collapse: collapse;
	width: 100%;
	white-space: nowrap;
}

.kui-table th, .kui-table td {
	border-color: #dfe3eb;
    border-style: solid;
    border-width: 1px 0 0;
    padding: 0;
    line-height: normal;
    vertical-align: middle;
}

.kui-table th {
	height: 44px;
	color: #33475b;
	font-family: "Avenir Next W02",Helvetica,Arial,sans-serif;
	font-size: 12px;
    font-weight: 500;
    text-align: left;
    vertical-align: middle;
    background-color: rgba(0,77,128,0.03922);
}

.kui-table th.checkbox {
	padding: 8px 12px;
	width: 45px;
	min-width: 45px;
    max-width: 45px;
}

.kui-table th>span {
	display: inline-flex;
	padding: 5px 24px;
	width: 100%;
    height: 44px;
    line-height: 34px;
}

.kui-table th>div {
	position: relative;
	display: inline-flex;
	padding: 5px 24px;
	width: 100%;
    height: 44px;
    transition: all 150ms ease-out;
	cursor: pointer;
}

.kui-table th>div>span {
    display: inline-flex;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    text-align: inherit;
    align-items: center;
    -webkit-align-items: center;
}

.kui-table th>div>span>span:nth-child(1) {
    display: table-cell;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
}

.kui-table th>div>span>span:nth-child(2) {
	display: inline-block;
	margin-left: 6px;
	width: 7.5px;
	height: 14px;
    fill: #cbd6e2;
    flex-shrink: 0;
	-webkit-flex-shrink: 0;
}

.kui-table th>div>span>span:nth-child(2)>svg {
	overflow: hidden;
}

.kui-table>thead>tr:nth-child(1)>th>div:hover {
	background-color: rgba(0,157,186,0.10196);
	outline: 0;
}

.kui-table th>div.sort-desc>span>span:nth-child(2)>svg>polygon:nth-child(2) {
	fill: #00a4bd;
}

.kui-table th>div.sort-asc>span>span:nth-child(2)>svg>polygon:nth-child(1) {
	fill: #00a4bd;
}

.kui-table>thead>tr:nth-child(2) {
	position: relative;
	display: none;
}

.kui-table>thead>tr:nth-child(2)>th:nth-child(2) {
	border-left: 2px solid transparent;
	padding-right: 0px;
	font-family: "Avenir Next W02",Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: none;
}

.kui-table>thead>tr:nth-child(2)>th:nth-child(2)>div {
	color: #7c98b6 !important;
	cursor: default;
}

.kui-table>thead>tr:nth-child(2)>th:nth-child(2)>div>span>ul {
	display: inline-block;
    max-width: 100%;
    list-style: none !important;
}

.kui-table>thead>tr:nth-child(2)>th:nth-child(2)>div>span>ul>li {
	display: inline-block;
	margin-left: 12px !important;
	padding: 0 4px;
    max-width: 100%;
}

.kui-table>thead>tr:nth-child(2)>th:nth-child(2)>div>span>ul>li>a>i {
	color: #7c98b6;
}

.kui-table tbody tr {
	transition: all 150ms ease-out;
}

.kui-table tbody tr:hover {
	background-color: rgba(0,77,128,0.03922);
}

.kui-table td {
	padding: 2.4px 12px;
	max-width: 300px;
	height: 40px;
	white-space: nowrap;
    text-overflow: ellipsis;
}

.kui-table td:nth-child(n+2) {
	border-left: 2px solid transparent;
}

/* kui表格盒子样式 */

.kui-table-box {

}
